---
import SkillBadge from './SkillBadge.astro';

interface Skill {
    src: string;
    title: string;
    group: string;
}

interface Props {
    title: string;
    skills: Skill[] | [];
}

const { title, skills } = Astro.props;
---

<article class="mb-12">
    <h3 class="font-bold uppercase pb-1 opacity-90 flex items-center space-x-2">
        <slot />

        <span style="line-height: normal;">{title}</span>
    </h3>
    {
        skills && (
            <div class="flex flex-wrap my-4 gap-4">
                {skills.map((skill) => (
                    <SkillBadge src={skill.src} alt={skill.title} group={skill.group} />
                ))}
            </div>
        )
    }
</article>
