---
import BaseLayout from '../layouts/BaseLayout.astro';
import SkillsSection from '../layouts/SkillsSection.astro';
import WaveIcon from '../components/WaveIcon.astro';
import ProjectList from '../components/ProjectList.astro';

import { Icon } from 'astro-icon/components';
---

<BaseLayout>
    <section id="about">
        <div class="mt-5">
            <h1
                class="text-6xl md:text-7xl font-bold mb-8 flex items-center justify-center text-center flex-wrap-reverse gap-y-6 font-signika"
            >
                Hey, I'm Michael. <WaveIcon />
            </h1>
            <text class="text-md md:text-lg flex text-center">
                Experienced web developer with 3+ years of experience designing and
                implementing engaging, user-friendly web experiences. I am professional
                skilled in React, Sass, PHP and MySQL, with a strong focus on responsive
                design and accessibility. I am constantly learning new things, and have
                gained experience in a variety of other web frameworks and languages
                through building personal projects. When I'm not coding, you may find me
                scoring triple digits on the golf course, teaching overly-complicated
                board games, laying on the couch playing Playstation 5 or getting lost in
                a good book.
            </text>
            <div class="w-full flex justify-center my-8">
                <div class="w-full md:w-6/12 flex items-center justify-center space-x-6">
                    <div class="w-full h-0.5 bg-base-content"></div>
                    <div class="flex items-center justify-center space-x-3">
                        <Icon name="ion:golf-outline" class="w-6 h-6" />
                        <Icon name="ion:dice-outline" class="w-6 h-6" />
                        <Icon name="ion:game-controller-outline" class="w-6 h-6" />
                        <Icon name="ion:book-outline" class="w-6 h-6" />
                        <Icon name="ion:pizza-outline" class="w-6 h-6" />
                        <Icon name="ion:airplane-outline" class="w-6 h-6" />
                    </div>
                    <div class="w-full h-0.5 bg-base-content"></div>
                </div>
            </div>
            <div class="mt-12 flex items-center justify-center flex-wrap gap-6">
                <a
                    class="btn btn-primary gap-3 font-medium"
                    href="#"
                    onclick="let username = String.fromCharCode(109, 105, 99, 104, 97, 101, 108, 102, 97, 114, 113, 117, 104, 97, 114, 52); let domain = String.fromCharCode(103, 109, 97, 105, 108, 46, 99, 111, 109); this.href = 'mailto:' + username + '@' + domain;"
                    aria-label="Send email through mailto link"
                >
                    <Icon name="heroicons:envelope-solid" class="w-5 h-5" />
                    Send Me an Email
                </a>
                <a
                    class="btn btn-outline btn-active hover:opacity-80 gap-3 font-medium"
                    href="#projects"
                    aria-label="Scroll down to project sections"
                >
                    <Icon name="heroicons:arrow-down-circle-solid" class="w-5 h-5" />
                    View My Projects
                </a>
            </div>
        </div>
    </section>

    <ProjectList />
    <SkillsSection />
</BaseLayout>
