---
import BaseLayout from '../layouts/BaseLayout.astro';
import SkillsSection from '../components/skills/SkillsSection.astro';
import ProjectSection from '../components/projects/ProjectSection.astro';
import CertificationsSection from '../components/certifications/CertificationsSection.astro';

import { Icon } from 'astro-icon/components';
---

<BaseLayout>
    <section id="about">
        <div class="mt-5">
            <div class="avatar flex justify-center mb-10">
                <div
                    class="w-28 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
                >
                    <img src="/avatar.png" alt="Avatar" />
                </div>
            </div>
            <h1
                class="text-6xl md:text-7xl font-bold mb-8 flex items-center justify-center text-center flex-wrap-reverse gap-y-6 font-signika"
            >
                Hey, I'm Michael
            </h1>
            <text class="text-md md:text-lg flex text-center">
                I am an experienced web developer with four years of experience designing
                and implementing engaging, user-friendly web experiences. I am a
                professional skilled in React, Sass, PHP, and MySQL, with a strong focus
                on responsive design and accessibility. I am constantly learning new
                things and have gained experience in various other web frameworks and
                languages through building various personal projects. I primarily enjoy
                front-end development using Astro or React and styling with TailwindCSS
            </text><br />
            <text class="text-md md:text-lg flex text-center">
                When I'm not coding, you may find me scoring triple digits on the golf
                course, teaching overly complicated board games, lounging on the couch
                playing PlayStation 5, or getting lost in a good book.
            </text>
            <div class="w-full flex justify-center mt-12 mb-8">
                <div class="w-full md:w-6/12 flex items-center justify-center space-x-6">
                    <div class="w-full h-0.5 bg-base-content"></div>
                    <div class="flex items-center justify-center space-x-3">
                        <Icon name="ion:golf-outline" class="w-6 h-6" />
                        <Icon name="ion:dice-outline" class="w-6 h-6" />
                        <Icon name="ion:game-controller-outline" class="w-6 h-6" />
                        <Icon name="ion:book-outline" class="w-6 h-6" />
                        <Icon name="ion:pizza-outline" class="w-6 h-6" />
                        <Icon name="ion:airplane-outline" class="w-6 h-6" />
                    </div>
                    <div class="w-full h-0.5 bg-base-content"></div>
                </div>
            </div>
            <div class="mt-12 flex items-center justify-center flex-wrap gap-6">
                <a
                    class="btn btn-outline btn-active hover:opacity-80 gap-3 font-medium"
                    href="#projects"
                    aria-label="Scroll down to project sections"
                >
                    <Icon name="heroicons:arrow-down-circle-solid" class="w-5 h-5" />
                    View My Projects
                </a>
                <a
                    class="btn btn-primary gap-3 font-medium"
                    href="#"
                    onclick="let username = String.fromCharCode(109, 105, 99, 104, 97, 101, 108, 102, 97, 114, 113, 117, 104, 97, 114, 52); let domain = String.fromCharCode(103, 109, 97, 105, 108, 46, 99, 111, 109); this.href = 'mailto:' + username + '@' + domain;"
                    aria-label="Send email through mailto link"
                >
                    <Icon name="heroicons:envelope-solid" class="w-5 h-5" />
                    Send Me an Email
                </a>
            </div>
        </div>
    </section>

    <ProjectSection />
    <SkillsSection />
    <CertificationsSection />
</BaseLayout>
