---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from '../components/Project.astro';
import SkillsSection from '../layouts/SkillsSection.astro';
import WaveIcon from '../components/WaveIcon.astro';
---

<BaseLayout>
    <section id="about">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-36 h-36 opacity-5"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
            ></path>
        </svg>

        <div class="mt-5">
            <h1 class="text-6xl font-bold mb-8 flex items-center">
                Hey, I'm Michael. <WaveIcon />
            </h1>
            <div class="pt-2 pb-4">
                <text class="text-lg">
                    Experienced web developer with 3+ years of experience designing and
                    implementing engaging, user-friendly web experiences. Primarily
                    skilled in React, Sass, PHP and MySQL, with a strong focus on
                    responsive design and accessibility.
                </text>
            </div>
            <div class="mt-8">
                <a
                    class="btn btn-primary gap-3 font-bold"
                    href="mailto:michaelfarquhar4@gmail.com"
                    aria-label="Email me"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-5 h-5"
                    >
                        <path
                            d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                        ></path>
                        <path
                            d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                        ></path>
                    </svg>

                    Let's Connect!
                </a>
            </div>
        </div>
    </section>

    <section id="projects" class="mt-24">
        <h2 class="text-4xl w-full font-bold mb-8">My Projects</h2>
        <div class="pl-2">
            <Project
                title="Demo Project 1"
                img="/post_img.webp"
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                badges={['NEW']}
                demo="#"
                source="#"
            />
            <div class="divider my-0"></div>
            <Project
                title="Demo Project 2"
                img="/post_img.webp"
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                demo="#"
                source="#"
            />
            <div class="divider my-0"></div>
            <Project
                title="Demo Project 3"
                img="/post_img.webp"
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                badges={['FOSS']}
                demo="#"
                source="#"
            />
            <div class="grid place-items-center mt-12 ml-4">
                <a
                    class="btn btn-lg gap-4"
                    href="https://github.com/MichaelFarquhar?tab=repositories"
                    target="_blank"
                >
                    <svg
                        role="img"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="currentColor"
                        slot="icon"
                        ><path
                            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                        ></path>
                    </svg>
                    View All Repos
                </a>
            </div>
        </div>
    </section>

    <SkillsSection />
</BaseLayout>
