---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import SkillsSection from '../layouts/SkillsSection.astro';
import WaveIcon from '../components/WaveIcon.astro';
---

<BaseLayout>
    <section id="about">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-36 h-36 opacity-5"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
            ></path>
        </svg>

        <div class="pb-12 mt-5">
            <h1 class="text-6xl font-bold mb-8 flex items-center">
                Hey, I'm Michael. <WaveIcon />
            </h1>
            <div class="py-2">
                <text class="text-lg">
                    I made this template for everyone who needs to create a personal
                    website easily and quickly. This template includes Project Section, CV
                    Section, Store, Paginated Blog, RSS Feed, SEO Friendly, Responsive
                    Desing and 29 Visual themes. I hope you find it useful!
                </text>
            </div>
            <div class="mt-8">
                <a
                    class="btn btn-primary gap-3 font-bold"
                    href="mailto:michaelfarquhar4@gmail.com"
                    aria-label="Email me"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-5 h-5"
                    >
                        <path
                            d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                        ></path>
                        <path
                            d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                        ></path>
                    </svg>

                    Let's Connect
                </a>
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section id="projects">
        <h2 class="text-3xl w-full font-bold mb-2">My last projects</h2>
        <HorizontalCard
            title="Demo Project 1"
            img="/post_img.webp"
            desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            url="#"
            badge="NEW"
        />
        <HorizontalCard
            title="Demo Project 2"
            img="/post_img.webp"
            desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            url="#"
        />
        <HorizontalCard
            title="Demo Project 3"
            img="/post_img.webp"
            desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            url="#"
            badge="FOSS"
        />
    </section>

    <div class="divider"></div>

    <SkillsSection />

    <div class="divider"></div>
</BaseLayout>
