<div class="divider mb-0"></div>

<footer class="footer footer-center block pt-10 pb-8">
    <div class="pb-6 py-6">
        <span>
            &copy; {new Date().getFullYear()} Michael Farquhar •
            <a
                href="https://github.com/MichaelFarquhar/portfolio"
                target="_blank"
                class="font-bold">View Source Code</a
            >
        </span>
    </div>
    <div class="inline opacity-75 italic">
        Built upon an <a
            href="https://github.com/manuelernestog/astro-modern-personal-website"
            target="_blank"
            class="font-bold">Astro Template</a
        > developed by Manuel Ernesto.
    </div>
</footer>
