<!-- Skip navigation link -->
<a class="skip-nav" href="#main-content">Skip to main content</a>

<style>
    .skip-nav {
        position: absolute;
        top: -40px;
        left: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
    }
</style>
