---
import SidebarNavItem from './SidebarNavItem.astro';

import { Icon } from 'astro-icon/components';
---

<nav class="mt-4">
    <div class="opacity-40 mb-3 font-mono text-sm italic px-4">// Navigation</div>
    <ul class="mb-10" aria-label="Navigation links list">
        <SidebarNavItem href="#about">
            <Icon name="heroicons:user-circle-solid" class="w-6 h-6" slot="icon" />
            About Me
        </SidebarNavItem>
        <SidebarNavItem href="#projects">
            <Icon name="heroicons:code-bracket-solid" class="w-6 h-6" slot="icon" />
            My Projects
        </SidebarNavItem>
        <SidebarNavItem href="#skills">
            <Icon name="heroicons:wrench-screwdriver-solid" class="w-6 h-6" slot="icon" />
            Technical Skills
        </SidebarNavItem>
        <SidebarNavItem href="#certifications">
            <Icon name="heroicons:check-badge-solid" class="w-6 h-6" slot="icon" />
            Certifications
        </SidebarNavItem>
    </ul>

    <div class="opacity-40 mb-3 font-mono text-sm italic px-4">// Links</div>
    <ul aria-label="Outbound links list">
        <SidebarNavItem href="https://github.com/MichaelFarquhar" target="_blank">
            <Icon name="ion:logo-github" class="w-6 h-6" slot="icon" />
            GitHub
        </SidebarNavItem>
        <SidebarNavItem
            href="https://www.linkedin.com/in/michael-farquhar-a0938b241/"
            target="_blank"
        >
            <Icon name="ion:logo-linkedin" class="w-6 h-6" slot="icon" />
            LinkedIn
        </SidebarNavItem>
    </ul>
</nav>
