---
import SidebarNav from './SidebarNav.astro';
---

<aside class="drawer-side bg-base-200">
    <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
    <div class="menu p-4 w-[19rem] bg-base-200 text-base-content">
        <a href="/" class="my-7 px-4 group" aria-label="Logo">
            <div class="w-fit">
                <div class="text-4xl font-bold pb-2">
                    <span class="text-primary">Michael</span><br /><span
                        class="text-secondary duration-300 group-hover:text-primary"
                        >Farquhar</span
                    >
                </div>
                <div
                    class="transition-all duration-300 w-1/3 h-1 rounded-full bg-secondary group-hover:w-full group-hover:bg-primary"
                >
                </div>
            </div>
        </a>

        <!-- Sidebar Nav Items -->
        <SidebarNav />
    </div>
</aside>
