---
import { Icon } from 'astro-icon/components';

interface Props {
    title: string;
    file: string;
}

const { title, file } = Astro.props;
---

<a
    class="border-2 rounded-lg p-3 md:p-4 text-lg font-semibold transition hover:bg-base-300 hover:border-primary flex flex-wrap items-center justify-center text-center gap-2"
    href=`/${file}`
    target="_blank"
>
    <Icon name="heroicons:check-badge-solid" class="w-5 h-5" />
    <span>{title}</span>
</a>
