---
import Certification from './Certification.astro';
---

<section id="certifications" class="mt-24 md:mt-36">
    <h2 class="text-4xl w-full font-bold mb-8">Certifications</h2>

    <div id="certifications-parent" class="flex items-center flex-wrap gap-5">
        <Certification
            title="HubSpot - SEO Certification Course"
            file="seo-certificate.png"
        />
        <Certification
            title="HubSpot - SEO II Certification Course"
            file="seo-ii-certificate.png"
        />
        <Certification
            title="TEFL Hero - 40 Hour TEFL Course"
            file="tefl-certificate.pdf"
        />
    </div>
</section>
