---
import BaseHead from './BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SideBar from '../components/sidebar/SideBar.astro';

import { Icon } from 'astro-icon/components';

const title = 'Michael Farquhar - Portfolio';
const description = 'My portfolio website.';
---

<!doctype html>
<html lang="en" data-theme="halloween" id="html">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <div class="bg-base-100 drawer drawer-mobile">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col bg-base-100">
                <Header />
                <div class="hidden md:flex justify-end pt-8 px-12">
                    <button
                        class="theme-switch btn btn-sm btn-secondary gap-2 font-normal"
                        aria-label="Randomize theme of website"
                    >
                        <Icon name="heroicons:swatch-solid" class="w-5 h-5" />
                        Random Theme
                    </button>
                </div>
                <div class="md:flex md:justify-center">
                    <main class="p-6 md:p-10 max-w-[1200px]" id="main-content">
                        <slot />
                    </main>
                </div>
                <Footer />
            </div>
            <SideBar />
        </div>

        <script src="../fslightbox.js"></script>
        <script>
            const htmlTag = document.getElementById('html');
            const themes = [
                'light',
                'dark',
                'cupcake',
                'bumblebee',
                'emerald',
                'corporate',
                'synthwave',
                'retro',
                'cyberpunk',
                'valentine',
                'halloween',
                'garden',
                'forest',
                'aqua',
                'lofi',
                'pastel',
                'fantasy',
                'wireframe',
                'black',
                'luxury',
                'dracula',
                'cmyk',
                'autumn',
                'business',
                'acid',
                'lemonade',
                'night',
                'coffee',
                'winter',
            ];

            let selectedTheme = htmlTag.getAttribute('data-theme');

            const randomizeTheme = () => {
                // Get all other themes to avoid randomizing the currently selected one
                const restOfThemes = themes.filter((theme) => theme != selectedTheme);

                selectedTheme =
                    restOfThemes[Math.floor(Math.random() * restOfThemes.length)];
                htmlTag.setAttribute('data-theme', selectedTheme);
            };

            document.querySelectorAll('.theme-switch').forEach((element) => {
                element.addEventListener('click', () => {
                    randomizeTheme();
                });
            });
        </script>
    </body><!-- <script>
    const mainContent = document.querySelector('.drawer-content');
    const sections = document.querySelectorAll('section');
    const navItems = document.querySelectorAll('.nav-item');
    let current = '';

    mainContent.addEventListener('scroll', () => {
        console.log('scrolling');
        sections.forEach((section) => {
            const sectionTop = section.offsetTop;

            if (mainContent.scrollTop + 50 >= sectionTop) {
                console.log('hey');
                current = section.getAttribute('id');
            }
        });

        navItems.forEach((li) => {
            console.log(li);
            li.classList.remove('active');
            if (li.getAttribute('data-section') === current) {
                li.classList.add('active');
            }
        });
    });
</script> -->
</html>
